.footer-part{
    /*height: 300px;
    background-color:blanchedalmond;*/
    
   /* padding: 70px 0 60px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-between;
}
.icon-footer{
    margin-right: 10px;
    font-size: 16px;
    color:white;
    cursor: pointer;
    transition: 0.75;
}
.icon-footer:hover{
    color:rgb(35, 126, 230);
}
footer{
    height:320px;
    background-color:rgb(24, 23, 23);
    width: 100%;
}
.content1-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.listy{
    margin-top: 20px;
    line-height: 40px;
    text-align: start;
    color: white;
    font-family:"Josefin Sans" ,sans-serif ;
    font-size: 16px;

}
a{
    cursor: pointer;
}
.list-footer{
    transition: 0.75;
}
.list-footer:hover{
    color:rgb(35, 126, 230);
    
}
.footer-para{
    margin-top: 20px;
    color:white;
    font-family:"Josefin Sans" ,sans-serif ;
    font-size: 12px;
    text-align: center;
    
}
.lists-footer{
   display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    
    width: auto;
    
}
.social{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family:"Josefin Sans" ,sans-serif ;

}
.content-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.icon-footer1{
    font-size: 16px;
    color:white;
    
}
.content2-footer{
    margin-top: 70px;
}
.copyright{
    text-align: center;
    color: white;
}
.line-footer{
    width: 100%;
    color: rgb(192, 194, 196);
}
@media(max-width:706px) {
    .content1-footer{
        padding-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    footer{
        height: 530px;
    }
    .lists-footer{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 10px;
        
        width: 400px;
        
    }
  
  .content-icons{
    width: 500px;
    justify-content: center;
    align-items: center;
 
    
  }
    
}